/* Article Content */
.placeholder-img {
  background-size: cover;
  background-position: center;
  color: transparent;
  height: 350px;
  width: 100%;
  background-color: red;
  background-image: url('./assets/camara/img/photo-886702266-612x612.jpg');
  background-repeat: no-repeat;
  border-radius: 20px;
}

.entrada-blog {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  color: #007bff;
  background: #ffffff;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.article-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;

  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2
}

.categoria {
  color: #007bff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.meta-data {
  color: #777;
  font-size: 0.9rem;
}

.placeholder-img {
  width: 100%;
  height: 350px;
  background: #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #adb5bd;
  border-radius: 4px;
}

.article-content {
  line-height: 1.8;
  color: #007bff;
  margin-top: 25px;
}

.lead {
  font-size: 1.2rem;
  font-weight: 500;
  color: #007bff;
}

.article-footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}
