  /* Galeria Imagenes */
  .galeria {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
}

.galeria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria-item {
    width: 25%;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.galeria-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.galeria-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.galeria-item:hover .galeria-overlay {
    opacity: 1;
}

@media (max-width: 768px) {
    .galeria-item {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .galeria-item {
        width: 100%;
    }
}